/********************************************************************* CSS VARIABLES *********************************************************************/ 
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Mukta:wght@600&display=swap');
:root {

  --main-bg-color : #FFFFFF;
  --secondary-bg-color : #101010;
  --third-color : #FF4545;
  --button-color: #0055FF;
  --box-shadow: #e1e1e1 0px 1px 0px, #e1e1e1 0px 4px 16px, #e1e1e1 0px 8px 16px;
  --font-title : 'Jost', sans-serif;
  --font-text :'Hind', sans-serif;
  --max1: 1200px;
  --max2: 1450px;
}


/********************************************************************* BASIC CSS *********************************************************************/ 
.desktop {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-text);
}

h1, h2 {
  font-family: var(--font-title);
}


a {
  color: initial;
  text-decoration: none;
  font-weight: initial;
}

li {
  list-style: none;
}

section {
  padding: 2rem 0;
}

.no_button {
  background-color: transparent;
  border: none;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}
.justify-evenly {
  justify-content: space-evenly;
}
.container {
  position: relative;
}

.button_style {
  border:none;
  padding: 0.75rem 1.5rem;
  background-color: var(--third-color);
  color: var(--main-bg-color);
  font-weight: bold;
}

.button_style2 {
  border:none;
  padding: 0.75rem 1.5rem;
  background-color: var(--secondary-bg-color);
  border: solid 1px white;
  color: var(--main-bg-color);
  font-weight: bold;
}

.margin1r0 {
  margin: 1rem 0;
}
.margin0r1r {
  margin: 0 1rem;
}

main, main * {
  overflow: hidden;
}

.grey, .grey * {
  background-color:#EDEDED;
}
.darkGrey, .darkGrey * {
  background-color:#4a2e2e;
  color: white;
}
.darkGrey button {
  border: white 1px solid;
}
.white, .white * {
  background-color: white;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
  font-family: var(--font-title);
  line-height: 2.2rem;
}

H2 {
  font-size: 3rem;
}

  .mobile {
    display: none;
  }

  .desktop {
    display: initial;
  }
/********************************************************************* NAVBAR *********************************************************************/ 
header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  height: fit-content;
}

.logo {
  height: 6rem;
}
.navbar {
  padding: 2rem;
}

.navbar * {
  padding: 0rem 2rem;
}

/********************************************************************* HOME *********************************************************************/ 
/***** CAROUSEL ****/
.landing {
  height: 80vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.landing div.landing_description {
  height: 100%;
  width: 25%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  background-color: var(--secondary-bg-color);
  color: var(--main-bg-color);
  position: relative;
}

.landing div.landing_description * {
  margin-bottom: 1.5rem;
}

.landing div.landing_description h3 {
  line-height: 2.2rem;
  transform: translate(-6rem);
}

.alice-carousel, .alice-carousel * {
  overflow: visible;
}

.background {
  width: 75%;
  height: 100%;
  background-repeat: no-repeat;
  background-size:cover;
}

.num1 {
  background-image: url(./assets/landing.png);

}

.num2 {
  background-image: url(./assets/random.JPG);
}

.num3 {
  background-image: url(./assets/random.JPG);
}

.alice-carousel__dots {
  position: absolute;
  bottom: 2rem;
  left: 45%;
}
.alice-carousel__dots-item {
  transform: scale(1.5);
  border: var(--main-bg-color) solid 1px;
  background-color: transparent !important;
}

.alice-carousel__dots-item.__active {
  background: var(--main-bg-color) !important;
}

/* La compagnie Rouge Bakoly */

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem;
  background-color: #FCF6EF;
  margin-top: -2rem;
  overflow: visible;
  width: 100%;
}

.welcome div {
  padding: 0 3rem;
  max-width: var(--max1);
}

.welcome h1 {
  font-size: 3rem;
}

.welcome div p {
  margin-bottom: 1rem;
}

.welcome img {
  width: 10rem;
  transform: translateY(-8rem);
}

/* DERNIERE CREATION*/
.derniere_creation {
max-width: var(--max2);
}

.derniere_creation h2 {
  margin: 0 0 2rem;
  text-align: left;
  transform: translateX(-4rem);
  color: var(--main-bg-color);
}
 h3 {
  font-size: 2rem;
}
.derniere_creation > div > * {
  width: 50%;
}
.derniere_creation > div {
  display: flex;
  justify-content: center;
}
.derniere_creation article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  background-color: var(--secondary-bg-color);
  color: var(--main-bg-color);
  overflow: visible;
  text-align: left;
}

.derniere_creation article p{
  margin: 2rem 0;
  font-weight: normal;
  font-family: var(--font-text);
}

.derniere_creation small {
  color: #FFFFFF9A;
}

.derniere_creation img {
  object-fit: cover;

}
/****************************  actualite ******************************/
.actualite {
  margin: 2rem 1rem;
  max-width: var(--max1);
}
.actualite > h3 {
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
}

.actualite .actualite_spectacle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: #10101033 1px solid;
  position: relative;
  margin: 3rem 0;
  height: 40%;
  overflow: visible;
}

.actualite .actualite_spectacle .actualite_img {
  width: 100%;
  height: 20vw;
  margin: 0;
}

.actualite article {
  padding: 2rem;
  max-width: 50%;
}

.actualite article h4 {
  margin-bottom: 1rem;
}

.actualite .actualite_date {
  padding: 2rem;
  background-color: #FCF6EF;
  width: 30%;
  height: 80%;
  text-align: center;
  transform: translateX(-2rem);
}

 .newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin: 4rem 0 2rem;
  background: linear-gradient(90deg, #FCF6EF00, #FCF6EF, #FCF6EF00  )
}

.actualite h4 {
  margin-bottom: 1rem;
}
.actualite  .buttons_container {
  position: absolute;
  bottom: -2.5rem;
  right: 0rem;
}
.actualite  .buttons_container * {
  border: none;
  margin-left: 1rem;
  color: var(--third-color);
  text-decoration: underline;
  font-weight: bold;
  background-color: transparent;
}

.actualite .reseaux_sociaux {
  text-align: right;
  padding: 2rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.actualite .reseaux_sociaux h3 {
  width: 40%;
}
.actualite .reseaux_sociaux div {
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;

}
.actualite .reseaux_sociaux img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 50%;
  border: solid grey 2px;
  margin-left: 1rem;
}

/******** ROUGE BAKOLY c'est aussi ************/ 

.aussis {
  text-align: left;
  max-width: var(--max1);
}
.aussi_container {
  padding: 1rem 0;
}

.aussi {
  display: flex;
}
.aussi:nth-of-type(2n-1) {
  flex-direction: row-reverse;
}

.aussi > * {
  width: 50%;
  height: 30vw;
}

.aussi > img {
  height: 30vw;
  object-fit: cover;
  object-position: center;
}

.aussi article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
  padding: 0 4rem;
  background-color: var(--secondary-bg-color);
  color: var(--main-bg-color);
}

.aussi:nth-of-type(2n-1) article {
  align-items: flex-start;
  text-align: left;
}

.aussi article p {
  margin: 2rem 0;
}

.soutenir button {
  margin: 1rem 0 0;
}


/********************************************************************* ACTIONS *********************************************************************/ 

.actions .bgA {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--main-bg-color);
  position: relative;
  background-position: center;
}

.actions .spectacles {
  background-image: url(./assets/residences.jpg);
}
.actions .residences {
  background-image: url(./assets/residences_longues.jpg);
}
.actions .pluri {
  background-image: url(./assets/rant_dann_ron.jpg);
}

.actions .veil {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 60%;
  background-color: var(--secondary-bg-color);
}

.actions p, .actions h1 {
  z-index: 2;
}

.actions .actions_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: space-between;
  max-width: var(--max1);
  margin: 0 auto;
}

.actions .action_petit {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:flex-start;
  margin: 0.5rem 0.25rem;
  padding: 0.1rem;
  background-color: var(--secondary-bg-color);
  color: var(--main-bg-color);
  width: 25vw;
  height: 20vw;
}

.actions .action_petit img {
  width: 100%;
  height: 80%;
}

.actions .action_petit_text {
  padding: 1rem;
}