/********************************************************************* CSS VARIABLES *********************************************************************/ 
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Mukta:wght@600&display=swap');
:root {

  --main-bg-color : #FFFFFF;
  --secondary-bg-color : #101010;
  --third-color : #e3822f;
  --button-color: #0055FF;
  --box-shadow: #e1e1e1 0px 1px 0px, #e1e1e1 0px 4px 16px, #e1e1e1 0px 8px 16px;
  --font-title : 'Jost', sans-serif;
  --font-text :'Hind', sans-serif;
  --max1: 1200px;
  --max2: 1500px;
}


/********************************************************************* BASIC CSS *********************************************************************/ 
.desktop {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-text);
}

h1, h2 {
  font-family: var(--font-title);
}


a {
  color: initial;
  text-decoration: none;
  font-weight: initial;
}

li {
  list-style: none;
}

section {
  padding: 2rem 0;
}

.no_button {
  background-color: transparent;
  border: none;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}
.justify-evenly {
  justify-content: space-evenly;
}
.container {
  position: relative;
}

.button_style {
  border:none;
  padding: 0.75rem 1.5rem;
  background-color: var(--third-color);
  color: var(--main-bg-color);
  font-weight: bold;
}

.button_style2 {
  border:none;
  padding: 0.75rem 1.5rem;
  background-color: var(--secondary-bg-color);
  border: solid 1px white;
  color: var(--main-bg-color);
  font-weight: bold;
}

.margin1r0 {
  margin: 1rem 0;
}
.margin0r1r {
  margin: 0 1rem;
}

main, main * {
  overflow: hidden;
}

.grey, .grey * {
  background-color:#EDEDED;
}
.darkGrey, .darkGrey * {
  background-color:#4a2e2e;
  color: white;
}
.darkGrey button {
  border: white 1px solid;
}
.white, .white * {
  background-color: white;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
  font-family: var(--font-title);
  line-height: 2.2rem;
}

H2 {
  font-size: 3rem;
}

  .mobile {
    display: none;
  }

  .desktop {
    display: initial;
  }

.mentions-container {
  padding: 2rem;
}

.mentions-container * {
  margin: 1rem 0;
}

button:hover {
  cursor: pointer;
}

.shadow {
  opacity: 50%;
}
/********************************************************************* NAVBAR *********************************************************************/ 
header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 1rem 0.5rem;
  height: fit-content;
}

.logo {
  height: 6rem;
}
.navbar {
  padding: 2rem;
}

.navbar * {
  padding: 0rem 2rem;
  font-family: var(--font-title);
  font-weight: bold;
}

/********************************************************************* HOME *********************************************************************/ 
/***** CAROUSEL ****/
.landing {
  height: 80vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 0;
}

.landing div.landing_description {
  height: 100%;
  width: 25%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  background-color: var(--secondary-bg-color);
  color: var(--main-bg-color);
  position: relative;
}

.landing div.landing_description * {
  margin-bottom: 1.5rem;
}

.landing div.landing_description h3 {
  line-height: 2.2rem;
  transform: translate(-6rem);
}

.alice-carousel, .alice-carousel * {
  overflow: visible;
}

.background {
  width: 75%;
  height: 100%;
  background-repeat: no-repeat;
  background-size:cover;
}

.num1 {
  background-image: url(./assets/landing.png);

}

.num2 {
  background-image: url(./assets/spectacles.jpg);
}

.num3 {
  background-image: url(./assets/autres.jpg);
}

.alice-carousel__dots {
  position: absolute;
  bottom: 2rem;
  left: 45%;
}
.alice-carousel__dots-item {
  transform: scale(1.5);
  border: var(--main-bg-color) solid 1px;
  background-color: transparent !important;
}

.alice-carousel__dots-item.__active {
  background: var(--main-bg-color) !important;
}

/* La compagnie Rouge Bakoly */

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem;
  background-color: #FCF6EF;
  margin-top: -2rem;
  overflow: visible;
  width: 100%;
}

.welcome div {
  padding: 0 3rem;
  max-width: var(--max1);
  width: 80vw;
}

.welcome h1 {
  font-size: 3rem;
}

.welcome div p {
  margin-bottom: 1rem;
}

.welcome img {
  width: 10rem;
  transform: translateY(-5rem);
}

/* DERNIERE CREATION*/
.derniere_creation {
max-width: var(--max2);
width: 95vw;
}

.derniere_creation h2 {
  margin: 0 0 2rem;
  text-align: left;
  transform: translateX(-4rem);
  color: var(--main-bg-color);
}
 h3 {
  font-size: 2rem;
}
.derniere_creation > div > * {
  width: 50%;
}
.derniere_creation > div {
  display: flex;
  justify-content: center;
}
.derniere_creation article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  background-color: var(--secondary-bg-color);
  color: var(--main-bg-color);
  overflow: visible;
  text-align: left;
}

.derniere_creation article p{
  margin: 2rem 0;
  font-weight: normal;
  font-family: var(--font-text);
}

.derniere_creation small {
  color: #FFFFFF9A;
}

.derniere_creation img {
  object-fit: cover;

}
/****************************  actualite ******************************/
.actualite {
  margin: 2rem 1rem;
  max-width: var(--max1);
  width: 80vw;
}
.actualite > h3 {
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
}

.actualite .actualite_spectacle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: #10101033 1px solid;
  position: relative;
  margin: 3rem 0;
  height: 40%;
  overflow: visible;
}

.actualite .actualite_spectacle .actualite_img {
  width: 100%;
  height: 20vw;
  margin: 0;
}

.actualite article {
  padding: 2rem;
  max-width: 50%;
}

.actualite article h4 {
  margin-bottom: 1rem;
}

.actualite .actualite_date {
  padding: 2rem;
  background-color: #FCF6EF;
  width: 30%;
  height: 80%;
  text-align: center;
  transform: translateX(-2rem);
}

 .newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin: 4rem 0 2rem;
  background: linear-gradient(90deg, #FCF6EF00, #FCF6EF, #FCF6EF00);
  width: 100%;
}

.actualite h4 {
  margin-bottom: 1rem;
}
.actualite  .buttons_container {
  position: absolute;
  bottom: -2.5rem;
  right: 0rem;
}
.actualite  .buttons_container * {
  border: none;
  margin-left: 1rem;
  color: var(--third-color);
  text-decoration: underline;
  font-weight: bold;
  background-color: transparent;
}

.actualite .reseaux_sociaux {
  text-align: right;
  padding: 2rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.actualite .reseaux_sociaux h3 {
  width: 40%;
}
.actualite .reseaux_sociaux div {
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;

}
.actualite .reseaux_sociaux img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 50%;
  border: solid grey 2px;
  margin-left: 1rem;
}

/******** ROUGE BAKOLY c'est aussi ************/ 

.aussis {
  text-align: left;
  max-width: var(--max1);
  width: 80vw;
}
.aussi_container {
  padding: 1rem 0;
}

.aussi {
  display: flex;
}
.aussi:nth-of-type(2n-1) {
  flex-direction: row-reverse;
}

.aussi > * {
  width: 50%;
  min-height: 30vw;
}

.aussi > img {
  min-height: 32.5vw;
  object-fit: cover;
  object-position: center;
}

.aussi article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
  padding: 2rem 4rem;
  background-color: var(--secondary-bg-color);
  color: var(--main-bg-color);
}

.aussi:nth-of-type(2n-1) article {
  align-items: flex-start;
  text-align: left;
}

.aussi article p {
  margin: 2rem 0;
}

.soutenir button {
  margin: 1rem 0 0;
}

/********************************************************************* COMPAGNIE *********************************************************************/ 

.compagnie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.compagnie .poem {
  text-align: center;
  background: linear-gradient(90deg,#FCF6EF00 , #FCF6EF, #FCF6EF00 );
  width: 100%;
}

.compagnie .poem p {
  margin-bottom: 1rem;
}

.presentation {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.presentation h2 {
  text-align: left;
  width: 100%;
  max-width: var(--max1);
  width: 80vw;
}
.presentation .definition {
  max-width: var(--max1);
  width: 80vw;
  padding: 0.5rem 0 3rem;
}

.duo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: var(--max1);
  width: 80vw;
}

.duo > * {
  width: 50%;
  min-height: 60vh;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.duo p {
  padding: 1rem;
}

.duo > *:first-child {
  margin-right: 4rem;
}

.duo .presentation_img {
  height: 70vh;
}
.cecile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.duo_cecile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: var(--max1);
  width: 80vw;
  margin-bottom: 2rem;
}
.duo_cecile article {
  background: linear-gradient(90deg, #FCF6EF00, #FCF6EF,  #FCF6EF00 );
  padding: 2rem 0;
  width: 60%;
}

.duo_cecile article p {
  width: 70%;
  margin-top: 1rem;
}

.duo_cecile img {
  width: 30%;
}

.cecile .article_cecile {
  max-width: var(--max1);
  width: 80vw;
  padding: 2rem 0;
}

.cecile .article_cecile p {
  margin-bottom: 1rem;
}

.ephemere {
  max-width: var(--max1);
  width: 80vw;
}

.benevoles {
  max-width: var(--max1);
  width: 80vw;
}

.benevoles p {
  padding: 0.5rem 0;
}

/********************************************************************* ACTIONS *********************************************************************/ 

.bgA {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--main-bg-color);
  position: relative;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.actions .spectacles {
  background-image: url(./assets/residences.jpg);
}
.actions .residences {
  background-image: url(./assets/residences_longues.jpg);
}
.actions .pluri {
  background-image: url(./assets/rant_dann_ron.jpg);
}

 .compagniebg {
  background-image: url(./assets/compagnie.jpg);
}

.bgA .veil {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 60%;
  background-color: var(--secondary-bg-color);
}

.bgA p, .bgA h1 {
  z-index: 2;
  padding: 0.5rem;
  width: 50%;
  text-align: center;
}

.actions .actions_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: space-between;
  max-width: var(--max1);
  width: 80vw;
  margin: 0 auto;
}

.actions .action_petit {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:flex-start;
  margin: 0.5rem 0.25rem;
  padding: 0.1rem;
  background-color: var(--secondary-bg-color);
  color: var(--main-bg-color);
  width: 25vw;
  height: 20vw;

}

.actions .action_petit img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.actions .action_petit_text {
  padding: 1rem;
  overflow: visible;
  position: relative;
}

.actions .enCours {
  position: absolute;
  top: -1rem;
  z-index: 2;
  background-color: var(--third-color);
  padding: 0 0.25rem;
}

/********************************************************************* ACTION BY ID *********************************************************************/ 
.action main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

 .top_bar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--secondary-bg-color);
  width: 100vw;
}

 .top_bar a {
  color: var(--main-bg-color);
}

/************** TOP - IMAGE - TEXT ****************/
.action .section_top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  padding: 0;
  max-width: var(--max2);
  width: 95vw;
  margin: 2rem 0 0;
}

.action .section_top > * {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.action .section_top  > img {
  object-fit: cover;
  margin-right: 2rem;
}
/************** TEXT ****************/
.action .text {
  background-color: #FCF6EF ;
  padding: 2rem;
}

.action .text_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.action .description {
  max-width: var(--max2);
  width: 95vw;
  margin: 0rem 0 2rem;
}

.action .bloc_culturel {
  max-width: var(--max2);
  width: 95vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: fit-content;
}
.action .bloc_culturel > article {
  width: 70%;
  height: 100%;
  margin-right: 2rem;
}

.action .bloc_culturel > div.text {
  width: 30%;
  height: cover;
}

.action .bloc_culturel div.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

/************** VIDEO ****************/

.action iframe {
  width: 100%;
  height: 80vh;
  max-width: var(--max1);
  width: 80vw;
}

/************** GALERIE PHOTOS ****************/

.action .galerie {
  width: 100%;
  max-width: var(--max2);
  width: 95vw;
}
.action .galerie h3 {
text-align: center;
margin: 2rem;
}
/************** PROGRAMMER ****************/

.action .soutenir {
  width: 100%;
}

/************** SOUTIEN ****************/
.action .soutien h4 {
  text-align: center;
  margin: 2rem;
  }
.action .soutien {
  width: 100%;
  max-width: var(--max1);
  width: 80vw;
}
.logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
/********************************************************************* FOOTER *********************************************************************/ 

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  box-shadow: var(--box-shadow);
}

footer img {
  width: 5rem;
  margin: 1rem;
}

footer a {
  color: var(--third-color) ;
}

footer a:hover {
  text-decoration: underline;
}

.footer .contact {
  margin: 1rem 0;
}

.footer .mentions {
  position: sticky;
  bottom: 0;
  background-color: var(--secondary-bg-color);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0.5rem;
}

.footer .mentions a {
  color: white;
  margin: 0 1rem;
  font-size: 0.8rem;
}

/********************************************************************* COLLABORATIONS *********************************************************************/ 

.collaborations, .collaborations * {
  background-color: var(--secondary-bg-color);
  color: var(--main-bg-color);
}

.collaborations {
  overflow: hidden;
}

 .collaborations > div {
  max-width: 100%;
  margin-left: 5vw;
  margin-top: 2rem;
 }

 .collaborations h2, .collaborations p {
  text-align: center;
 }

 .collaborations img {
  width: 20vw;
 }

/********************************************************************* COLLABORATION BY ID *********************************************************************/ 
.collab_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  position: relative;
  overflow: hidden;
}

.collaboration {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: var(--max2);
  padding: 4rem 0 2rem;
}

.collaboration .top_bar {
  position: absolute;
  top: 0;
}

.collaboration > div.collab_div {
  width: 37.5%;
  padding: 1rem;
}
.collaboration > div.collab_div > * {
  margin-bottom: 1rem;
}

.collaboration > div.collab_div img {
  margin-right: 1rem;
}

.collaboration > img {
  width: 25%;
}

.collaboration h1 {
  font-size: 2.25rem;
}

.collaboration h2 {
  font-size: 1.8rem;
}